.height4 {
  height: 300px;
}
.height3 {
  height: 220px;
}
.height2 {
  height: 140px;
}
.height1 {
  height: 60px;
}
.box-row {
  margin-top: 20px;
}
.masthead {
  text-align: right;
  font-size: 100px;
  line-height: 140px;
  padding-right: 15px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  -webkit-font-smooth: always;
}
[class*="home-animate"] {
  display: none;
  -vendor-animation-duration: 2s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
}
.home-icon {
  padding: 10px;
}